---
import Gero from '@/assets/gero.svg';
---
<section class="h-screen">
  <h2 class="text-7xl text-center">
    un viaje a través de la historia de los dinosaurios, desde su aparición hasta su extinción.
  </h2>
  <Gero class="w-full h-80" />
</section>
